<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.virginia.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.virginia.pojo.Activity">
    <!--@mbg.generated-->
    <!--@Table t_activity-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="edit_by" jdbcType="INTEGER" property="editBy" />
    <result column="region" jdbcType="INTEGER" property="region" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="currency_unit" jdbcType="OTHER" property="currencyUnit" />
    <result column="create_by_act" property="createByAct"/>
    <result column="edit_by_act" property="editByAct"/>
    <result column="owner_act" property="ownerAct"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, owner_id, `name`, start_time, end_time, description, create_time, create_by, 
    edit_time, edit_by, region, is_deleted, cost, currency_unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.virginia.pojo.Activity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_activity (owner_id, `name`, start_time, 
      end_time, description, create_time, 
      create_by, edit_time, edit_by, 
      region, is_deleted, cost, 
      currency_unit)
    values (#{ownerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=INTEGER}, #{editTime,jdbcType=TIMESTAMP}, #{editBy,jdbcType=INTEGER}, 
      #{region,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{cost,jdbcType=DECIMAL}, 
      #{currencyUnit,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.virginia.pojo.Activity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="editBy != null">
        edit_by,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="currencyUnit != null">
        currency_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editBy != null">
        #{editBy,jdbcType=INTEGER},
      </if>
      <if test="region != null">
        #{region,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="currencyUnit != null">
        #{currencyUnit,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.virginia.pojo.Activity">
    <!--@mbg.generated-->
    update t_activity
    <set>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editBy != null">
        edit_by = #{editBy,jdbcType=INTEGER},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="currencyUnit != null">
        currency_unit = #{currencyUnit,jdbcType=OTHER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.virginia.pojo.Activity">
    <!--@mbg.generated-->
    update t_activity
    set owner_id = #{ownerId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      edit_by = #{editBy,jdbcType=INTEGER},
      region = #{region,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL},
      currency_unit = #{currencyUnit,jdbcType=OTHER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    ta.*, tu1.login_act as owner_act, tu2.login_act as create_by_act, tu3.login_act as edit_by_act
    from t_activity ta
    left join t_user tu1 on ta.owner_id = tu1.id
    left join t_user tu2 on ta.create_by = tu2.id
    left join t_user tu3 on ta.edit_by = tu3.id
    where ta.is_deleted = 0
    <if test="ownerIds != null and ownerIds.size() != 0">
      and ta.owner_id in
      <foreach close=")" collection="ownerIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    <if test="name != null">
      and ta.name like concat('%',#{name},'%')
    </if>
    <if test="startTime != null">
      and ta.start_time &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and ta.end_time &lt;= #{endTime}
    </if>
    <if test="startCost != null and endCost != null">
      and ta.cost between #{startCost} and #{endCost}
    </if>
    <if test="startCost != null and endCost == null">
      and ta.cost &gt;= #{startCost}
    </if>
    <if test="currencyUnit != null and currencyUnit != ''">
      and ta.currency_unit = #{currencyUnit}
    </if>
    <if test="regions != null and regions.size() != 0">
      and ta.region in
      <foreach close=")" collection="regions" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    ${filterSQL}
  </select>
</mapper>